<?xml version="1.0"?>
<launch>  
    <node type="main.py" name="control" pkg="grp-orange"/>
    <node type="stageros" name="simulation" pkg="stage_ros" args="$(find stage_ros)/world/willow-erratic.world">
    </node>
    <node type="slam_gmapping" name="gmapping" pkg="gmapping">
        <remap from="scan" to="base_scan" />
    </node>

    <group if="$(arg rviz)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find grp-orange)/rviz_config/rviz_laser_config.rviz"> 
        </node>
    </group>
	
</launch>
