<?xml version="1.0"?>
<launch>  
    <param name="/use_sim_time" value="true" />
    <arg name="align_depth" default="true"/>
    
    <group>
        <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >
            <param name="maxUrange" value="4.0"/>  
        </node>      
    </group>
        
    <node type="HSV_detec.py" name="image_proc" pkg="grp-orange"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find grp-orange)/rviz_config/rviz_test_trans.rviz" /> 
    	
</launch>